<% require "sanitize" %>
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= entry.title %></title>
  </head>
  <body>
    <h3 class="entry-title"><%= entry.title %></h3>
    <%= entry.date %>
    <div class="entry-content">
      <%= entry.content %>
    </div>
  </body>
</html>
